.layout {
    display: flex;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9; /* Colore di sfondo esempio */
}

.outlet{
    background: rgb(0,0,0);
    background: linear-gradient(75deg, rgba(0,0,0,1) 70%, rgba(4,13,167,1) 100%);
}