.contact-page{
    color: rgb(89, 108, 253) !important;
}

.contact-h2{ 
    text-align: center;
}

.card-custom {
    background-color: rgba(0, 0, 0, 0.521) !important;
    color: rgb(89, 108, 253) !important;
    width: 70%;
}

.btn-outline-primary {
    color: rgb(89, 108, 253) !important;
    border-color: rgb(89, 108, 253) !important;
}

.btn-outline-primary:hover {
    color: black !important;
    background-color: rgb(89, 108, 253) !important;
    border-color: rgb(89, 108, 253) !important;
}

.btn-outline-danger {
    color: #b90000 !important;
    border-color: #b90000 !important;
}

.btn-outline-danger:hover {
    color: black !important;
    background-color: #b90000 !important;
    border-color: #b90000 !important;
}

