.contact-page{
    color: rgb(89, 108, 253) !important;
}

.contact-h2{ 
    text-align: center;
    font-size: 56px;
    color: rgb(89, 108, 253) !important;
}

.card-custom {
    background-color: rgba(0, 0, 0, 0.521) !important;
    color: rgb(89, 108, 253) !important;
    width: 70%;
    transition: transform 0.3s;
}

.btn-outline-primary {
    color: rgb(89, 108, 253) !important;
    border-color: rgb(89, 108, 253) !important;
}

.btn-outline-primary:hover {
    color: black !important;
    background-color: rgb(89, 108, 253) !important;
    border-color: rgb(89, 108, 253) !important;
}



.card-custom:hover {
    transform: scale(1.05);
}


