.btn-outline-danger {
  color: #b90000 !important;
  border-color: #b90000 !important;
}

.btn-outline-danger:hover {
  color: black !important;
  background-color: #b90000 !important;
  border-color: #b90000 !important;
}

.modal {
  background-color: rgba(89, 108, 253, 0.411);
}
.modal-body,
.modal-footer,
.modal-header {
  background-color: black !important;
  color: rgba(89, 108, 253) !important;
}

.close-button {
  border: 1px solid rgba(89, 108, 253) !important;
  color: rgba(89, 108, 253) !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  cursor: pointer; /* Cambia il cursore al passaggio */
}

.close-button:hover {
    color: black !important;
    background-color: rgb(89, 108, 253) !important;
    border-color: rgb(89, 108, 253) !important;
}


.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(89, 108, 253) !important;
  padding: 10px 20px;
}
.modal-footer{
    border-top: 1px solid rgb(89, 108, 253) !important;
}
