.sidebar-h2 {
  color: #b90000;
}

.sidebar-column {
    background: rgb(60,1,1);
    background: linear-gradient(85deg, rgba(60,1,1,1) 30%, rgba(0,0,1,1) 80%);
  border-right: 1px solid rgb(60,1,1);
  height: 100vh; /* Altezza piena dello schermo */
  overflow-y: auto; /* Scroll verticale se la sidebar è più lunga dello schermo */
}

.main-content-column {
  padding: 20px;
}


.sidebar-item {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}


.sidebar-h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.alphabet-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.alphabet-item {
  margin: 0.7rem;
  transition: transform 0.3s;
}
.alphabet-item:hover {
  transform: scale(1.2);
}


.alphabet-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 56px;
  color: #b90000;
}

.alphabet-link:hover {
  color: rgba(255, 255, 255, 0.664);
}

.btn-outline-danger {
  color: #b90000 !important;
  border-color: #b90000 !important;
}

.btn-outline-danger:hover {
  color: black !important;
  background-color: #b90000 !important;
  border-color: #b90000 !important;
}
