.form-container {
    color: rgb(89, 108, 253) !important;
    width: 100%; /* Larghezza del form container al 100% */
    max-width: 600px; /* Larghezza massima del form container */
    margin: 0 auto; /* Centra il form container orizzontalmente */
    padding: 20px; /* Padding interno al container */
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: black;
    border: 1.5px solid rgb(89, 108, 253);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: rgb(89, 108, 253);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  input[type="checkbox"]:checked::before {
    opacity: 1;
  }
  
  
